! colors

! Black 
*.color0  : #000000
*.color8  : #2D3341

! red 
*.color1  : #CF004B
*.color9  : #CF004B

! green
*.color2  : #7CAF52
*.color10 : #7CAF52

! yellow
*.color3  : #FAAD45
*.color11 : #FAAD45

! blue
*.color4  : #18859C
*.color12 : #18859C

! magenta
*.color5  : #A5118D
*.color13 : #A5118D

! cyan
*.color6  : #3A9CA7
*.color14 : #3A9CA7

! white
*.color7  : #C1C2B2
*.color15 : #ffffff


! font
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintsfull
Xft.lcdfilter: lcddefault


! urxvt-settings

URxvt*depth: 32 
URxvt*background: [96]#2D3341
URxvt*foreground:       #C1C2B2
! URxvt*font:           xft:Envy Code R:Regular:antialias=true:size=9
URxvt*font:           xft:FuraCode Nerd Font Mono:Medium:antialias=true:size=8
! URxvt*imFont:         xft:Envy Code R:regular:size=8
URxvt*boldFont:       xft:FuraCode Nerd Font Mono:Bold:antialias=true:size=8
! URxvt*italicFont:     xft:Envy Code R:italic:size=8
! URxvt*boldItalicFont: xft:Envy Code R:regular:size=8
! URxvt.underlineColor:   #4682B4
URxvt.highlightColor:   #FAAD45
URxvt.highlightTextColor: #000000
! URxvt.throughColor:     Blue
! URxvt*cursorColor:      #dc8cc3
! URxvt*cursorColor2:     Black
URxvt*scrollBar:        false
URxvt*scrollBar_right:  false
URxvt*internalBorder:   35
URxvt*externalBorder:   0
! URxvt.colorIT:      	#87af5f
! URxvt.colorBD:      	#c5c8c6
! URxvt.colorUL:      	#87afd7



